@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	border-style: none;
	border-color: #000000;
	background: #FFFFFF url("../images/christian-background-loops.jpg") no-repeat left top;
}

#page_position_content
{
	margin-top: 3px;
	margin-bottom: 12px;
}

#menuu1191
{
	z-index: 12;
	width: 381px;
	left: -1px;
}

#u1216
{
	width: 74px;
	min-height: 22px;
	margin-right: -10000px;
}

#u1219
{
	width: 74px;
	padding-bottom: 5px;
}

#u1219:hover
{
	margin: 0px;
}

#u1219:active
{
	margin: 0px;
}

#u1192
{
	width: 74px;
	min-height: 22px;
	margin-right: -10000px;
	left: 76px;
}

#u1193
{
	width: 74px;
	padding-bottom: 5px;
}

#u1219.MuseMenuActive,#u1193:hover
{
	margin: 0px;
}

#u1193:active
{
	margin: 0px;
}

#u1222-4,#u1196-4
{
	width: 74px;
	min-height: 17px;
	margin-right: -10000px;
	top: 2px;
}

#u1193:hover #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1193:active #u1196-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1240
{
	width: 75px;
	min-height: 22px;
	margin-right: -10000px;
	left: 152px;
}

#u1243
{
	width: 75px;
	padding-bottom: 5px;
}

#u1193.MuseMenuActive,#u1243:hover
{
	margin: 0px;
}

#u1243:active
{
	margin: 0px;
}

#u1245-4
{
	width: 75px;
	min-height: 17px;
	margin-right: -10000px;
	top: 2px;
}

#u1193.MuseMenuActive #u1196-4,#u1243:hover #u1245-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1243:active #u1245-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1243.MuseMenuActive #u1245-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u1247
{
	width: 75px;
	min-height: 22px;
	margin-right: -10000px;
	left: 229px;
}

#u1250
{
	width: 75px;
	padding-bottom: 5px;
}

#u1243.MuseMenuActive,#u1250:hover
{
	margin: 0px;
}

#u1250:active
{
	margin: 0px;
}

#u1261
{
	width: 75px;
	min-height: 22px;
	margin-right: -10000px;
	left: 306px;
}

#u1264
{
	width: 75px;
	padding-bottom: 5px;
}

#u1250.MuseMenuActive,#u1264:hover
{
	margin: 0px;
}

#u1264:active
{
	margin: 0px;
}

#u1264.MuseMenuActive
{
	margin: 0px;
}

#u1251-4,#u1266-4
{
	width: 75px;
	min-height: 17px;
	margin-right: -10000px;
	top: 2px;
}

#pu610
{
	width: 0.01px;
	margin-left: 2px;
	position: relative;
}

#u610
{
	z-index: 2;
	width: 300px;
	margin-right: -10000px;
	left: 24px;
}

#u603-3
{
	z-index: 4;
	width: 5px;
	margin-right: -10000px;
	margin-top: 424px;
	left: 197px;
}

#u605
{
	z-index: 10;
	width: 378px;
	margin-right: -10000px;
	margin-top: 270px;
}

#u278-7
{
	z-index: 43;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 150px;
	left: 23px;
}

#u604-3
{
	z-index: 7;
	width: 5px;
	margin-left: 111px;
	margin-top: 42px;
}

#page .verticalspacer
{
	clear: both;
}

