#u1219
{
	background-color: #29ABE2;
	position: relative;
}

#u1219:hover
{
	background-color: #999999;
}

#u1219:active
{
	background-color: #6B6B6B;
}

#u1193
{
	background-color: #00FF00;
	position: relative;
}

#u1219.MuseMenuActive,#u1193:hover
{
	background-color: #999999;
}

#u1193:active
{
	background-color: #6B6B6B;
}

#u1196-4
{
	border-style: none;
	border-color: transparent;
	background-color: #00FF00;
	text-align: center;
	color: #0000FF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1243
{
	background-color: #FF00FF;
	position: relative;
}

#u1193.MuseMenuActive,#u1243:hover
{
	background-color: #999999;
}

#u1243:active
{
	background-color: #6B6B6B;
}

#u1245-4
{
	border-style: none;
	border-color: transparent;
	background-color: #FF00FF;
	text-align: center;
	color: #0000FF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u1250
{
	background-color: #0071FF;
	position: relative;
}

#u1243.MuseMenuActive,#u1250:hover
{
	background-color: #999999;
}

#u1250:active
{
	background-color: #6B6B6B;
}

#u1264
{
	background-color: #E21E79;
	position: relative;
}

#u1250.MuseMenuActive,#u1264:hover
{
	background-color: #999999;
}

#u1264:active
{
	background-color: #6B6B6B;
}

#u1264.MuseMenuActive
{
	background-color: #999999;
}

#u1222-4,#u1251-4,#u1266-4
{
	text-align: center;
	color: #0000FF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#menuu1191,#u1216,#u1192,#u1240,#u1247,#u1261,#u610,#u603-3,#u605,#u604-3
{
	position: relative;
}

